/* .information-wrapper.right-wrapper.blur-background {
    display: none;
} */

.ext__video--suggest {
    display: none;
}

h4.total-word {
    display: none;
}

text {
    display: none;
}

.mochi__history {
    display: none !important;
}

.second-row-left.col-lg-6.col-md-8 {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.list__video--mochi {
    display: none !important;
}

.second-row-left.col-lg-6.col-md-8 > .row:first-child {
    flex: 1
}